@model MVC_CRUD.Models.Entities.Concrete.Category
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Detail</h2>

<h4>Id: @Model.Id</h4>
<h4>Name: @Model.Name</h4>
<h4>Description: @Model.Description</h4>
<h4>Status: @Model.Status</h4>
<h4>Create Date: @Model.CreateDate</h4>

